[Unit]
Description=Gunicorn server for stanislavbeskaev.ru python TDD

[Service]
Restart=on-failure
User=stas
Environment=EMAIL_USER=yourgmailuser
Environment=EMAIL_PASSWORD=yourgmailpassword
WorkingDirectory=/home/stas/sites/stanislavbeskaev.ru/source/superlists
ExecStart=/home/stas/sites/stanislavbeskaev.ru/virtualenv/bin/gunicorn \
-b unix:/tmp/stanislavbeskaev.ru.socket \
--capture-output \
--access-logfile ../access.log \
--error-logfile  ../error.log \
config.wsgi:application

[Install]
WantedBy=multi-user.target